# Rename this file to .env and provide your credentials
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT=http://localhost:4000/auth/google/callback
OUTLOOK_CLIENT_ID=
OUTLOOK_CLIENT_SECRET=
OUTLOOK_REDIRECT=http://localhost:4000/auth/outlook/callback
PORT=4000
